@tailwind base
@tailwind components
@tailwind utilities

body
    margin: 0

.App
    width: 100dvw
    height: 100dvh
    background: #242424
    display: flex
    justify-content: center
    align-items: center
    padding: 50px
    overflow: hidden
    font-family: "Noto Sans", sans-serif
    font-weight: 500

.card-scroll
    &.final
        width: 900px

.demo-component
    &.initial
        max-width: 420px

        & + .secondhalf
            min-width: 400px

.time-select
    &.active
        border: solid 1px transparent
        background: rgba(0, 0, 0, 0.6)
        color: white

        &:hover
            border: solid 1px transparent
            background: rgba(0, 0, 0, 0.6)
            color: white


.card::-webkit-scrollbar
    display: none


.time-container::-webkit-scrollbar
    width: 8px
        
.time-container::-webkit-scrollbar-thumb
        border-radius: 12px
        background: rgba(0,0,0,.5)


@media (width <= 480px)
    .App
        padding: 30px

    .demo-component
        position: relative
        padding: 10px 20px

    .logo-container
        height: 50px
        padding: 0

    .fibery-image
        width: 50px !important

    .secondhalf
        min-width: 100px !important

    .calendar-container
        padding: 0 0 10 0px

    .details-container
        padding: 20px

    .details
        gap: 6px
        h3
            font-size: 20px
        span
            span
                font-size: 12px
        p
            font-size: 14px

    .icon-sizing
        font-size: 16px

    .timedate-input
        padding: 10px 0px

    .time-section
        display: grid
        grid-template-columns: 1fr 1fr !important

    .btn-grp
        flex-direction: column
        gap: 10px

@media (width <= 690px)
    .card
        min-width: 300px
        width: 100%
        overflow-x: hidden

    .card-scroll
        flex-direction: column
        width: 100%

    .card-scroll.final
        min-width: 200px

    .demo-component
        display: flex
        max-width: none !important
        border-right: none
        border-bottom: solid 1px rgba(0,0,0,.1)

        &.initial
            max-width: 700px

    .logo-container
        width: 30%
        height: auto
        border-bottom: 0

    .timeselect-container
        padding: 10px 20px

    .back-btn
        left: 7%

    .details-container
        width: 100%
     
    .cookie-setting
        display: none

    .input-grp
        width: 100%

    .center
        width: 80%

    .detail-confirmation
        margin-top: 6px

    .promo
        text-align: center

    .btn-grp
        gap: 2dvw

    .sign-up
        padding: 8px 10px

@media (691px <= width <= 991px)    
    .details
        gap: 6px
        h3
            font-size: 20px
        span
            span
                font-size: 12px
        p
            font-size: 14px

    .timeselect-container
        padding: 10px 10px 20px 10px

    .back-btn
        left: 20px
        top: 20px


@media (width <= 991px)
    .demo-component
        max-width: 35%
    
    .fibery-image
        width: 100px

    .secondhalf
        flex-direction: column
        align-items: center
        min-width: 100px

    .timedate-input
        padding-bottom: 0
        border-bottom: solid 1px rgba(0,0,0,.1)

    .display-date
        place-self: center

    .timeselect-container
        width: 100%

    .time-section
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        max-width: 100%
        padding: 0 0 0 10px

    .userdetails-container
        width: 100%
        max-width: 410px